.ui-accordion .ui-accordion-header {
    padding: 20px 76px 20px 44px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.25;
    text-align: start;
    color: #242424;
    position: relative;
    background: white;
    border: 1px solid #242424;
}

.ui-accordion .ui-accordion-header:after {
    content: "";
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url("../img/chevron-down.svg");
    position: absolute;
    top: 16px;
    right: 32px;
}

.ui-accordion .ui-accordion-header.ui-accordion-header-active:after {
    transition: 0.3s ease-in-out;
    transform: rotate(-180deg);
}

.ui-accordion .ui-state-active {
    border-bottom: none;
    background: #f2f2f2;
}

.ui-accordion .ui-widget-content {
    border: 1px solid #242424;
    border-top: none;
    background: #f2f2f2;
    padding: 0 44px 30px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #242424;
}

.ui-accordion p {
    margin: 0;
}

.ui-accordion .ui-accordion-header-icon {
    display: none;
}